body {
  width:100%;
  height:100vh;
  background:white;
  margin:0;
  /* overflow:hidden; */
}
#container{
  visibility:hidden; 
}
#mySVG{
  position:absolute;
  overflow:visible;  
}

/* section {
  height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0; 
  padding: 20px;
  box-sizing: border-box;
} */
